
body{
    display: grid;
    margin: 0;
    grid-template-rows: 10% auto 15% ;
    height: 100vh;
    grid-template-areas: 
    'header'
    'gallery'
    'footer';
}

header{
    grid-area: header;
    display: flex;
    background-color: #151515;
    color: white;
    justify-content: center;
}
.card{
    grid-area: gallery;
    flex-direction: column;
    position: relative;
    display: flex;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.items{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.equipement{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 30px;
    padding-right: 20px;
}
.detail{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: rgb(228, 228, 228, 0.3); ;
    border: 0.5px solid;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);

}
footer{
    grid-area: footer;
    font-family: 'Ramaraja', serif;
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    color: white;
    font-size: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}
.horaire{
    grid-area: footer;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;

}
.titreH{
    padding-bottom: 10px;
    font-size: 15px; 
    font-family: 'mogra', sans-serif; 
    color: white;
    margin:0; 
}

.logo{
    width: 50px;
}
.planningH{
    font-family: 'Mukta Vaani', sans-serif; 
    margin:0;
    font-family: 'mogra', sans-serif; 
}
.tel{
    
    font-family: 'mogra', sans-serif;
    padding-left: 5%;
    text-align: center;
}
.formulaire{
    padding-right: 5%;
    font-family: 'mogra', sans-serif;
}