@media screen and (min-width: 768px) {
    body{
        display: grid;
        margin: 0;
        grid-template-rows: 10% auto 15% ;
        grid-template-columns: 30% 70%;
        height: 100vh;
        grid-template-areas: 
        'header header'
        'navbar gallery'
        'footer footer';
    }
    .navbar{
        position: fixed; 
        height:300px; 
        top: 10%;
        margin-right: 0px;
        margin-left: 50px;
    }
    main{
       position: relative;
       width: 900px;
       margin-left: 0px;
    }
    .logo{
        display: flex;
        position: relative;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        width: 300px;
    }
   .cars-container{
        grid-area: gallery;
        margin-left: 0px;
        padding-left: 30px;
        border-left: 2px solid rgb(228, 228, 228, 2);
   } 
   .containerSlider3{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-bottom: 15px;
    font-family: 'Ramaraja', serif;
    }
    .background{
        font-size: 20px;
    }
    .titreH{
        font-size: 20px;
    }
    
}