::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
h1{

    font-size: 30px;


}
.titre{
    color: white;
    font-family: 'Ramaraja', serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 20px;
}
body{

    margin: 0;
}
.background{
    display: flex;
    background-color: #151515;
    color: white;
    justify-content: center;
}
main{
    position: relative;
    height: 80vh;
}
.logo{
    position: absolute;
    width: 200px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.fond{
    position: absolute;
    width: 300px;
    left: 20%;
    top: 220px;
    z-index: -5;
    opacity: 50%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ramaraja', serif;
}
.text{
    display: flex;
    justify-content: center;
    font-family: Cardo, serif;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    position: relative;
    height: 10vh;
    font-size: 10px;
    margin-top: 5px;
    align-items: center;
    justify-items: center;
    
}