::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.grid-container{
    display: grid;
    grid-template-rows: 10% auto 10% ;
    height: 100vh;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

.titre{
    color: white;
    font-family: 'Ramaraja', serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

body{
    width: 100%;
    margin: 0;
}
.background{
    display: flex;
    background-color: #151515;
    color: white;
    justify-content: center;
}
main{
    position: relative;
}
.fond{
    grid-area: main;
    width: 350px;
    position: relative;
    left: 5%;
    top: 290px;
    z-index: -1;
    
}
.logo{
    position: absolute;
    grid-area: main;
    width: 200px; 
    left: 50%;
    transform: translate(-50%);
}
.slogan{
    grid-area: main;
    font-family: 'Cardo', serif;
    position: relative;
    font-size: 30px;
    top: -215px;
    left: 10%;
}

.service{
    grid-area: main;
    position: relative;
    top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.reparation, .mecanique, .entretien, .vente{
    background-color: #f1f1f1;
    padding: 5px;
    margin: 8px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    font-family: 'Mukta Vaani', sans-serif;
    transition: all 0.2s;
}
.reparation:hover, .mecanique:hover, .entretien:hover, .vente:hover{
    background-color: rgba(235, 168, 58, 0.87);
}
footer{
    grid-area: footer;
    font-size: 10px;
    margin-top: 5px;
    align-items: center;
    justify-items: center;
    
}

.temoignage{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.intitule{
    font-family: 'Ramaraja', serif;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.client{
    margin: 5px 20px 15px 25px;
    font-family: 'mogra', sans-serif;
    color: white;
    background-color: black; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid black;
    border-radius: 10px;
}
.nom{
    color: #f1b660;
    font-size: 20px;
    margin-left: 10px;
}
.horaire{
    grid-area: footer;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.commentaire{
    padding: 10px;
}
.titreH{
    padding-bottom: 10px;
    font-size: 15px; 
    font-family: 'mogra', sans-serif; 
    color: white;
    margin:0
}
.planningH{
    font-family: 'Mukta Vaani', sans-serif; 
    margin:0;
    font-family: 'mogra', sans-serif; 
}
.tel{
    font-family: 'mogra', sans-serif;
    margin : 4px;
}
.formulaire{
    margin: 4px;
    font-family: 'mogra', sans-serif;
}